# Environment
NODE_ENV=development

# Application
API_PORT=3000

# Database
POSTGRES_PORT=5432
POSTGRES_USER=...
POSTGRES_PASSWORD=...
POSTGRES_DB=...
DATABASE_URL=postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@localhost:5432/${POSTGRES_DB}?schema=public

# Redis
REDIS_PORT=6379
REDIS_URL=redis://localhost:6379

# Rate limit
THROTTLE_LIMIT=100
THROTTLE_TTL_SECONDS=60
THROTTLE_BLOCK_SECONDS=60
