NODE_ENV=development
API_PORT=3000
POSTGRES_PORT=5432
POSTGRES_USER=lore_wiki
POSTGRES_PASSWORD=lore_wiki
POSTGRES_DB=lore_wiki_dev
DATABASE_URL=postgresql://lore_wiki:lore_wiki@localhost:5432/lore_wiki_dev?schema=public
